body {
  background: url(https://data.whicdn.com/images/250452294/original.jpg) repeat;
  padding-top: 0.5em;
}

.App {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 35vw;
  height: 15vh;
  background: url(https://i.pinimg.com/originals/fd/18/c6/fd18c6d26d4d9d26a0bd9d1a2fb2bd04.png) no-repeat center;
  background-size: 100% 30vh;
  transition: all 0.3s;
}

.header:hover {
  transform: scale(1.05);
}

.header:active {
  transform: scale(0.99);
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  justify-content: center;
}

.card {
  width: 10em;
  height: 10em;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: teal;
  background-color: antiquewhite;
  border-radius: 1em;
  transition: all 0.3s;
  text-decoration: none;
}

.card:visited {
  color: teal;
}

.card:hover {
  transform: scale(1.05);
}

.pokeCard {
  margin-top: 0.5em;
  display: flex;
  width: 70vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  background-color: antiquewhite;
  padding: 1em;
  border-radius: 7em;
  border: 0.2em dashed rebeccapurple;
}

.ability {
  margin: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60vw;
  font-size: 1.2em;
}

img {
  transition: all 0.3s;
}

img:hover {
  transform: scale(1.2);
}

